<header class="main-header">
    <a href="/" class="logo">
        <span class="logo-mini"><b>ЛГ</b></span>
        <span class="logo-lg"><b>Льготники</b></span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" >
                        <img src="/img/" class="user-image" alt="">
                        <span class="hidden-xs"><? echo $name ?></span>
                    </a>
                </li>
                <li>
                    <a href="/logout.php?logout"><i class="fa fa-sign-out"></i> Выход</a>
                </li>
            </ul>
        </div>
    </nav>
</header>