<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<title></title>

<link rel="stylesheet"  type="text/css" media="all"  href="manual.css"  th:href="@{/assets/css/bootstrap.css}" />
<link rel="stylesheet"  type="text/css" media="all"  href="manual.css"  th:href="@{/assets/css/bootstrap-grid.css}" />
<link rel="stylesheet"  type="text/css" media="all"  href="manual.css"  th:href="@{/assets/css/bootstrap-reboot.css}" />
<link rel="stylesheet"  type="text/css" media="all"  href="manual.css"  th:href="@{/assets/css/style.css}" />

