<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script  type="text/javascript"  src="bootstrap.min.js" th:href="@{/assets/js/bootstrap.min.js}"></script>
<script  type="text/javascript"  src="bootstrap.bundle.min.js" th:href="@{/assets/js/bootstrap.bundle.min.js}"></script>