
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/img/<? echo $img_name ?>" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p><? echo $name ?></p>
                <a href="/profile/"><i class="fa fa-circle text-success"></i> Профиль</a>
            </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">МЕНЮ</li>
            <li><a href="/"><i class="fa fa-dashboard"></i> <span>Главная</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-plus-square"></i> <span>Добавить льготников</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <!--  <li><a href="/add/sota.php"><i class="fa fa-circle-o"></i>SOTA</a></li>-->
                    <li><a href="/add/manual.php"><i class="fa fa-circle-o"></i>Ручной ввод</a></li>
                    <!-- <li><a href="/add/others.php"><i class="fa fa-circle-o"></i>Сторониие АВ</a></li>-->
                </ul>
            </li>
            <li><a href="/search/search.php"><i class="fa  fa-search"></i> <span>Поиск льготников</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa  fa-trash"></i> <span>Удалить льготников</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/delete/lgotnik.php"><i class="fa fa-circle-o"></i>Льготника</a></li>
                    <li><a href="/delete/dubl.php"><i class="fa fa-circle-o"></i>Дубли</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Отчеты</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/reports/name.php"><i class="fa fa-circle-o"></i> Поименный </a></li>

                </ul>
            </li>


        </ul>

